<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	<!-- latest IE rendering mode -->
	<meta name="viewport" content="width=device-width, initial-scale=1">	<!-- mobile devices -->
	<title>StreamStory</title>
	
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="lib/jquer-ui.css">	
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="lib/jquery.qtip.min.css">
	
	<script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="lib/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/cytoscape.js"></script>
	<script type="text/javascript" src="lib/cytoscape-qtip.js"></script>
	<script type="text/javascript" src="lib/cytoscape-ctxmenu.js"></script>
	<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
	<script type="text/javascript" src="lib/highcharts.js"></script>
	<script type="text/javascript" src="js/zoomvis.js"></script>
	<script type="text/javascript" src="js/hist.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="js/ui.js"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style>
		.dl-horizontal dt {
		    white-space: normal;
		    width: 200px;
		    text-align: left;
		}
	</style>
    
    <script type="text/javascript">
		function postParam(paramName, paramVal) {
			$.ajax('api/param', {
				dataType: 'json',
				data: { paramName: paramName, paramVal: paramVal },
				method: 'POST',
				error: function (jqXHR, status) {
					alert('Failed to set parameter value: ' + status);
				}
			});
		}
		
		<% if (useCase == 'mhwirth') { %>
		<% if (model.isOnline()) { %>
		function fetchFricConfig() {
			$.ajax('api/config', {
				dataType: 'json',
				method: 'GET',
				data: { properties: [
					'calc_coeff',
					'deviation_extreme_lambda',
					'deviation_major_lambda',
					'deviation_minor_lambda',
					'deviation_significant_lambda'
				] },
				success: function (data) {
					var props = {};
					for (var i = 0; i < data.length; i++) {
						props[data[i].property] = data[i].value;
					}
					
					$('#check-calc-coeff').attr('checked', props.calc_coeff == 'true');
					$('#input-extreme-lambda').val(props.deviation_extreme_lambda);
					$('#input-major-lambda').val(props.deviation_major_lambda);
					$('#input-significant-lambda').val(props.deviation_significant_lambda);
					$('#input-minor-lambda').val(props.deviation_minor_lambda);
					$('#btn-fric-cancel, #btn-fric-ok').attr('disabled', 'disabled');
					
					$('#check-calc-coeff').change();
				},
				error: function (jqXHR, status) {
					alert(status);
				}
			});
		}
		<% } %>
		
		function fetchConfig() {
			<% if (useCase == 'mhwirth' && model.isOnline()) { %>
			fetchFricConfig();
			<% } %>
			
			$.ajax('api/param', {
				dataType: 'json',
				data: { paramName: 'predictionThreshold' },
				success: function (paramObj) {
					$('#range-pred-threshold').slider("value", paramObj.value);
				},
				error: function (jqXHR, status) {
					alert(status);
				}
			});
			
			$.ajax('api/param', {
				dataType: 'json',
				data: { paramName: 'timeHorizon' },
				success: function (paramObj) {
					$('#range-time-horizon').slider("value", paramObj.value);
				},
				error: function (jqXHR, status) {
					alert(status);
				}
			});
			
			$.ajax('api/param', {
				dataType: 'json',
				data: { paramName: 'pdfBins' },
				success: function (paramObj) {
					$('#range-pdf-bins').slider("value", paramObj.value);
				},
				error: function (jqXHR, status) {
					alert(status);
				}
			});
		}
		<% } %>
		
		var ui;
	
		$(document).ready(function () {
			ui = UI();
			fetchConfig();
			
			<% if (model.isOnline()) { %>
			ui.initWebSockets();
			<% } %>
			
			$.ajax('api/countActiveModels', {
				dataType: 'json',
				success: function (data) {
					$('#span-no-active').html(data.count);
				}
			});
		});
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  			<% include partials/navlogo %>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav navbar-right">
        			<% if (model.isOnline()) { %>
        			<li>
        				<a id="lnk-msgs" href="#" data-placement="bottom" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">
        					(<span id="span-num-msgs">0</span>)&nbsp;<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        				</a>
        				<div id="content-msgs" class="popover fade bottom in" style="max-width: 350px; width: 350px; left: -230px; top: 50px; display: none;">
							<div class="arrow" style="left: 260px;"></div>
							<div id="vis_options" class="container-fluid">
								<div style="padding-top: 12px; padding-bottom: 12px;">
									<div class="row">
										<div id="div-messages" class="col-md-12">
											<ul id="list-msg" class="list-group"></ul>
										</div>
									</div>
								</div>
							</div>
						</div>
        				<script type="text/javascript">
	        				$('#lnk-msgs').click(function (event) {
	       						event.preventDefault();
	       						$('#content-msgs').slideToggle();
	       					});
       					</script>
        			</li>
        			<li>
        				<a id="lnk-config" href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a>
        				<script type="text/javascript">
        					$('#lnk-config').click(function (event) {
        						event.preventDefault();
        						$('#popup-config').modal({ show: true });
        					});
        				</script>
        			</li>
        			<% } %>
        			<% include partials/navmenus %>
      			</ul>
    		</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</nav>
	
	<!-- Configuration popup -->
	<div id="popup-config" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal">&times;</button>
    				<h4 class="modal-title">Configuration</h4>
  				</div>
  				<div class="modal-body">
  					<div id="div-config">
  						<div>
  							<div>
  								<div class="checkbox">
									<label>
										<input id="chk-show-probs" type="checkbox"> Show transition probabilities
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input id="chk-wheel-scroll" type="checkbox"> Enable wheel scrolling
									</label>
								</div>
  							</div>
  						</div>
						<div id="div-config-params" class="row">
							<div class="col-md-12">
								<label for="range-pred-threshold">Prediciton threshold: <span id="span-pred-threshold"></span></label>
								<div id="range-pred-threshold"></div>
							</div>
						</div>
						<div id="div-config-params" class="row">
							<div class="col-md-12">
								<label for="range-time-horizon">Time horizon: <span id="span-time-horizon"></span></label>
								<div id="range-time-horizon"></div>
							</div>
						</div>
						<div id="div-config-params" class="row">
							<div class="col-md-12">
								<label for="range-pdf-bins">PDF bins: <span id="span-pdf-bins"></span></label>
								<div id="range-pdf-bins"></div>
							</div>
						</div>
						<% if (useCase == 'mhwirth' && model.isOnline()) { %>
						<div>
							<div class="checkbox">
   								<label>
     									<input id="check-calc-coeff" type="checkbox" /> Calculate firction
   								</label>
 								</div>
 								<script type="text/javascript">
 									$('#check-calc-coeff').change(function () {
 										var isChecked = $(this).is(':checked');
 										if (isChecked) {
 											// fetch the configuration from the db
 											$('#div-configure-coeff').show();
 										}
 										else
 											$('#div-configure-coeff').hide();
 									});
 								</script>
						</div>
						<div id="div-configure-coeff" style="display: none;">
							<div class="form-group">
						    	<label for="input-extreme-lambda">Extreme deviation intensity</label>
						    	<input id="input-extreme-lambda" type="number" class="form-control" />
						  	</div>
						  	<div class="form-group">
						    	<label for="input-major-lambda">Major deviation intensity</label>
						    	<input id="input-major-lambda" type="number" class="form-control" />
						  	</div>
						  	<div class="form-group">
						    	<label for="input-significant-lambda">Significant deviation intensity</label>
						    	<input id="input-significant-lambda" type="number" class="form-control" />
						  	</div>
						  	<div class="form-group">
						    	<label for="input-minor-lambda">Minor deviation intensity</label>
						    	<input id="input-minor-lambda" type="number" class="form-control" />
						  	</div>
						</div>
						<% } %>
					</div>
  				</div>
  				<div class="modal-footer">
  					<button id="config-cancel" type="button" class="btn btn-default">Cancel</button>
    				<button id="config-done" type="button" class="btn btn-success">Done</button>
    				<script type="text/javascript">
			  			$('#config-done').click(function () {
			  				var predThreshold = $('#range-pred-threshold').slider('value');
			  				var timeHorizon = $('#range-time-horizon').slider('value');
			  				var pdfBins = $('#range-pdf-bins').slider('value');
			  				
			  				postParam('predictionThreshold', predThreshold);
			  				postParam('timeHorizon', timeHorizon);
			  				postParam('pdfBins', pdfBins);
			  						  			
			  				$.ajax('api/config', {
								method: 'POST',
								data: {
									calc_coeff: $('#check-calc-coeff').is(':checked'),
									deviation_extreme_lambda: $('#input-extreme-lambda').val(),
									deviation_major_lambda: $('#input-major-lambda').val(),
									deviation_minor_lambda: $('#input-significant-lambda').val(),
									deviation_significant_lambda: $('#input-minor-lambda').val()
								},
								error: function (jqXHR, status) {
									alert(status);
								}
							});
			  			});
			  			
			  			$('#config-cancel').click(function () {
			  				fetchConfig();
			  			});
			  			
			  			$('#config-cancel, #config-done').click(function () {
			  				$('#popup-config').modal('hide');
			  			});
			  			
			  			// setup the configuration sliders
						$('#range-pred-threshold').slider({
							value: .5,
							min: 0,
							max: 1,
							step: .05,
							animate: true,
							change: function (event, ui) {
								var val = ui.value;
								$('#span-pred-threshold').html(val);
							}
						});
						
						$('#range-time-horizon').slider({
							value: 10,
							min: 0,
							max: 100,
							step: .1,
							animate: true,
							change: function (event, ui) {
								var val = ui.value;
								$('#span-time-horizon').html(val + ' ' + getTimeUnit() + 's');
							}
						});
						
						$('#range-pdf-bins').slider({
							value: 100,
							min: 100,
							max: 10000,
							step: 10,
							animate: true,
							change: function (event, ui) {
								var val = ui.value;
								$('#span-pdf-bins').html(val);
							}
						});
    				</script>
  				</div>
			</div>
		</div>
		<script type="text/javascript">
			$('#popup-config').modal({ show: false });
		</script>
	</div>
	
	<!-- Central components -->
	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-8">
				<div id="parent_container" class="panel panel-default main-vis">
					<div class="panel-heading clearfix">
						<h4 class="panel-title pull-left">Visualization - <%= modelConfig.name %> <span id="span-zoom" class="component-title-additional">&nbsp;(Zoom: <span id="span-zoom-val">0</span>%)</span></h4>
						<!-- toggler for the visualization options -->
						<button id="vis-toggler" class="btn btn-default btn-xs pull-right" style="padding: 0px 5px;" aria-label="Left Align">
						  	<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
						</button>
						<span class="pull-right component-title-additional">
							<% if (model.isOnline()) { %>
							<span id="span-no-active"></span> online models,
							<% } %> 
							time unit:&nbsp;<span id="span-tu"><%= model.getModel().getTimeUnit() %></span>&nbsp;&nbsp;&nbsp;
						</span>
						<!-- options for the visualization component -->
						<div id="content-options" class="popover fade bottom in">
							<div class="arrow"></div>
							<div id="vis_options" class="container-fluid">
								<div style="padding-top: 12px; padding-bottom: 12px;">
									<div class="row">
										<div id="div-ftrs" class="col-md-12">
											<%
											var ftrDesc = model.getFtrDesc();
											var observations = ftrDesc.observation;
											var controls = ftrDesc.control;
											var featureInfo = observations.concat(controls);
											%>
											<div class="form-group">
												<h4>Show attribute</h4>
												<ul id="ul-ftrs-obs">
												<% for (var ftrN = 0; ftrN < featureInfo.length; ftrN++) { %>
													<li><input type="checkbox" value="<%= ftrN %>" /> <%= featureInfo[ftrN].name %></li>
												<% } %>
												</ul>
											</div>
											<% if (controls.length > 0) { %>
											<div class="form-group">
												<h4>Adjust control</h4>
												<div class="checkbox">
													<label><input id="chk-sim-inputs" type="checkbox" /> Simulate inputs</label>
												</div>
												<div id="div-ftrs-control">
												<% for (var controlN = 0; controlN < controls.length; controlN++) { 
													var bounds = controls[controlN].bounds;
													var ftrId = observations.length + controlN; %>
													<div class="form-group">
														<label for="<%= ftrId %>"><%= controls[controlN].name + ' (' + bounds.min.toFixed(2) + ' to ' + bounds.max.toFixed(2) + ')' %></label>
														<div id="<%= ftrId %>" class="slider-contr"></div>
													</div>
													<script type="text/javascript">
														$('#<%= ftrId %>').slider({
															value: <%= (bounds.min + bounds.max) / 2 %>,
															min: <%= bounds.min %>,
															max: <%= bounds.max %>,
															step: <%= (bounds.max - bounds.min) / 100 %>,
															animate:"slow",
															orientation: "hotizontal",
															disabled: true,
															change: function (event, ui) {
																var shouldFire = $('#chk-sim-inputs').is(':checked');
																if (shouldFire) {
																	var val = $(this).slider('value');//ui.value;
																	var ftrId = $(this).attr('id');
																	changeControlVal(null, ftrId, val);
																}
															}
														});
													</script>
												<% } %>
												</div>
											</div>
											<% } %>
										</div>
									</div>
									<div class="row">
										<div  class="col-md-12">
											<div class="form-group">
												<h4>View future</h4>
												<input type="checkbox" id="chk-show-fut" />Show future
												<div id="div-future-opts" class="hidden">
													<div id="rng-time-probs"></div>
													<div id="div-fut-time"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div id="container-buttons" class="col-md-12" style="padding-top: 12px;">
											<div id="alert-wrapper-viz-config" class="form-group"></div>
											<div class="form-group">
												<% if (model.isOnline()) { %>
												<input type="button" id="btn-activate" value="Activate Model" class="btn btn-success btn-block hidden" />
												<script type="text/javascript">
													{
														var isActive = false;
														
														$.ajax('api/modelMode', {
															dataType: 'json',
															success: function (data) {
																if (!data.isRealtime)
																	return;
																	
																isActive = data.isActive;
																var btn = $('#btn-activate');
																
																btn.removeClass('hidden');
																if (isActive) {
																	btn.val('Deactivate Model');
																	btn.removeClass('btn-success');
																	btn.addClass('btn-danger');
																} else {
																	btn.val('Activate Model');
																	btn.removeClass('btn-danger');
																	btn.addClass('btn-success');
																}
															},
															error: function (jqXHR, status) {
																alert(status);
															}
														});
														$('#btn-activate').click(function () {
															$.ajax('api/activateModelViz', {
																dataType: 'json',
																method: 'POST',
																data: { activate: !isActive },
																success: function () {
																	window.location.reload();
																},
																error: function (jqXHR, status) {
																	alert(status);
																}
															});
														});
													}
												</script>
												<% } %>
												<input type="button" id="btn-reset-sim" value="Reset Simulation" class="btn btn-block btn-default hidden" style="margin-top: 5px;" />
												<input type="button" id="btn-layout" value="Auto Layout" class="btn btn-default btn-block" />
												<input type="button" id="btn-png" value="Save as PNG" class="btn btn-default btn-block" />
												<input type="button" id="btn-save" value="Save Model" class="btn btn-primary btn-block" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<script type="application/javascript">
							$('#vis-toggler').click(function () {
								$('#content-options').slideToggle();
							});
						</script>
					</div>
					<div id="vis-wrapper" class="panel-body nopadding">
						<div id="slider_container">
							<div id="slider_item_div"></div>
						</div>
						<div id="vis_container" class="nopadding"></div>						
						<div id="threshold_slider"></div>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div id="container-details" class="panel panel-default main-vis">
					<div class="panel-heading">Details</div>
					<div id="div-details" class="panel-body nopadding scrollable">
						<div id="wrapper-state-details" class="container-fluid" style="display: none;">
							<div class="row">
								<div id="div-ftrs" class="col-md-12">
									<div class="form-group">
										<label for="txt-name">State name</label>
										<input id="txt-name" type="text" class="form-control" />
									</div>
									<% if (model.isOnline()) { %>
									<div class="form-group">
										<div class="checkbox">
									    	<label>
									      		<input id="chk-target" type="checkbox" /> Is undesired event
									    	</label>
									  	</div>
									  	<div id="div-event-id" class="hidden">
									  		<label for="txt-event-id">Event id (used for recommendations)</label>
									  		<input id="txt-event-id" type="text" class="form-control" />
									  	</div>
								  	</div>
								  	<% } %>
								  	<div id="alert-wrapper-save-state" class="form-group"></div>
								  	<div id="div-button-save-state" class="form-group" class="hidden">
										<input id="btn-button-save-state" type="button" class="btn btn-success" value="Save" />
									</div>
								</div>
							</div>
							<div class="row">
								<div id="div-ftrs" class="col-md-12">
									<h3>Attributes</h3>
									<div class="row">
										<div id="div-attrs" class="col-md-12"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="wrapper-transition-details" class="container-fluid" style="display: none;">
							<div class="row">
								<div id="div-ftrs" class="col-md-12">
									<h3>Transition from state <span id="span-trans-source"></span> to state <span id="span-trans-target"></span></h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h3>Attributes</h3>
									<div id="div-trans-ftrs" class="col-md-12"></div>
								</div>
							</div>
						</div>
						<!-- thumbnail with the histograms for attributes -->
						<div id="div-thumbnail" style="display: none;">
							<div class="col-md-6 thumb-col">
								<div class="thumbnail">
									<div class="container-hist"></div>
							      	<div class="caption">
							        	<h6 class="attr-name" style="word-wrap: break-word;"></h6>
							        	<p>
							        		<span class="attr-val"></span>
						        			<span class="div-ftr-range" style="display: none;">
									        	<div class="range-contr-val"></div>
									      	</span>
						        		</p>
							      	</div>
							    </div>
						    </div>
					    </div>
					</div>
				</div>
				
			</div>
		</div>
		<% if (model.isOnline()) { %>
		<div class="row row-values">
			<div id="thumbnail-online-vals" class="hidden">
				<div class="col-md-2" style="height: calc(100% - 5px); margin-bottom: 5px;">
					<div class="thumbnail thumbnail-values" style="height: calc(100% - 5px); margin-bottom: 5px;">
						<div class="txt-wrapper"></div>
					</div>
				</div>
			</div>
			<div id="div-values-wrapper" style="height: 100%"></div>
		</div>
		<% } %>
		<div class="row">
			<div class="col-md-8">
				<div style="height: 300px;min-height: 300px;">
					<div id="tree-wrapper" style="height: 100%;width: 100%;" class="nopadding"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div id="div-msg-0-wrapper" class="col-md-12"></div>
				</div>
				<div class="row">
					<div id="div-msg-1-wrapper" class="col-md-12"></div>
				</div>
				<script type="text/javascript">
					$('#div-msg-0, #div-msg-1').alert();
					//$('#div-msg-0, #div-msg-1').alert('close');
				</script>
			</div>
		</div>
	</div>

	<!-- popover for the histogram of the PDF -->
	<div id="popover-pdf-hist" class="popover fade bottom in popover-centered">
		<a class="glyphicon glyphicon-remove btn-close" onclick="$('#popover-pdf-hist').slideUp();"></a>
		<div id="hist-pdf" style="width: 100%; height: 100%;"></div>
	</div>
	
	<% include partials/alert %>
</body>